.header {
  display: flex;
  justify-content: space-between;
  max-width: 96%;
  margin: 0 auto;
  flex-wrap: wrap-reverse;
}

.form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 95%;
  margin: 0px;
}

.color-buttons {
  display: grid;
  grid-template-columns: repeat(2, 50px);
  grid-gap: 4px;
}

.form-colors {
  margin-right: 16px;
}

label {
  color: $gray;
}
