#grid {
  display: grid;
  width: 100vw;
  max-width: 100%;
  height: calc(100vh - 140px);
  overflow-x: hidden;
  overflow: visible;
}

.row {
  display: grid;
}

.block {
  color: transparent;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  .rgb, .hex {
    padding: 8px;
  }
  .hover {
    display: none;
    pointer-events: none;
  }
  &:hover {
    color: white;
    .hover {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position: absolute;
      z-index: 1000;
      width: 100%;
      min-width: 150px;
      height: 100%;
      min-height: 96px;
    }
  }
}

.block:first-child:hover .hover {
  left: 0;
}

.block:last-child:hover .hover {
  right: 0;
}
