@font-face {
  font-family: "Proxima Nova";
  src: local("Proxima Nova"), url(./ProximaNova-Thin.otf) format("opentype");
}

h1 {
  font-family: "Proxima Nova";
  color: $gray;
  font-size: 3rem;
  margin: 1rem 0;
}

body {
  background: $offwhite;
}